/* Color Palette */
:root {
    /* Primary colors */
    --dark-cyan: hsl(158, 36%, 37%);
    --darker-cyan: hsl(158, 36%, 25%);
    --cream: hsl(30, 38%, 92%);

    /* Neutral colors */
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--cream);
    min-height: 100vh;
}

.product-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 37.5rem;
    background: var(--white);
    border-radius: 0.7rem;
}

.img-desktop {
    display: none;
}

.img-mobile {
    max-width: 100%;
    border-radius: 0.7rem 0.7rem 0 0;
}

.product-type,
.product-desc,
.old-price {
    color: var(--dark-grayish-blue);
    font-style: normal;
}

.product-title,
.new-price {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 2.3rem;
}

.product-details {
    padding: 1.8rem;
}

.product-type {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
}

.product-title {
    color: var(--very-dark-blue);
    line-height: 2.5rem;
    margin: 1.2rem 0;
}

.product-desc {
    line-height: 1.8rem;
    margin-bottom: 1.2rem;
    font-weight: 500;
}

.product-price {
    display: flex;
    align-items: center;
}

.new-price {
    color: var(--dark-cyan);
    margin-right: 1.5rem;
}

.old-price {
    text-decoration: line-through;
}

.product-buy {
    padding: 0 1.8rem 1.8rem 1.8rem;
}

.add-cart {
    width: 100%;
    background: var(--dark-cyan) url(images/icon-cart.svg) no-repeat 30% 50%;
    color: var(--white);
    border: none;
    border-radius: 0.6rem;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
}

.add-cart:hover {
    background: var(--darker-cyan) url(images/icon-cart.svg) no-repeat 30% 50%;
    cursor: pointer;
    transform: scale(0.99);
    box-shadow: 10px 10px 16px -8px rgba(16, 35, 28, 0.73);
}

.attribution {
    margin: 1rem 0;
    font-size: 11px;
    text-align: center;
    font-style: italic;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}